@font-face {
    font-family: 'Monospace';
    src: url('./fonts/Monospace821BT-Roman.woff') format('woff'),
        url('./fonts/Monospace821BT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.link {
  color: rgb(0, 0, 255);
  text-decoration: none;

  &:active,
  &:hover,
  &:focus,
  &:visited {
    color: rgb(0, 0, 255);
    text-decoration: none;
  }
}
